@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap');

@font-face {
    font-family: "Arizona Serif";
    src: url("ABCArizonaSerif-LightItalic-Trial.woff") format('woff');
}

html,
body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: 'Baskervville', sans-serif;
    color: hsl(40, 100%, 90%);
    background: hsl(180, 40%, 50%);
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#text {
    z-index: 1;
    filter: blur(1px);
    font-size: 60pt;
    line-height: 1.1em;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
}

canvas {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#fullscreen {
    position: fixed;
    z-index: 1;
    bottom: 30px;
    right: 30px;
    width: 30px;
}

#fullscreen:hover {
    cursor: pointer;
}

.animated {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
}

@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0; display: none;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0; display: none;}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fadeIn {
	animation-delay: 0.5s;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}